<form action="/api/v1/autores" method="POST">
    <fieldset>
        <legend>Nuevo autor</legend>
        <p>
        <label for="email">Email</label>
        <br>
        <input type="email" id="email" name="email" required="true" />
        </p>
        <p>
        <label for="contrasena">Contrasena</label>
        <br>
        <input type="password" id="contrasena" name="contrasena" required="true" />
        </p>
        <p>
        <label for="pseudonimo">Pseudónimo</label>
        <br>
        <input type="text" id="pseudonimo" name="pseudonimo" required="true" />
        </p>
        <p>
        <input class="primary" type="submit" value="Continuar" />
        </p>
    </fieldset>
</form>